openai>=1.1.0
aiohttp
beautifulsoup4
camoufox
click
crawl4ai
ddgs
fake_useragent>=2.0.3
google-api-python-client
google-search-results
html2text
httpx
langchain
lxml
matplotlib
networkx
nrel-rex
nltk
numpy
pandas
tf-playwright-stealth
PyPDF2
python-slugify
rebrowser-playwright
scipy
scrapling
tabulate
tavily-python
tiktoken
