openai>=1.1.0
aiohttp
click
fake_useragent>=2.0.3
html2text
langchain
lxml
matplotlib
networkx
nrel-rex
nltk
numpy
pandas
rebrowser-playwright
playwright-stealth
PyPDF2
python-slugify
scipy
tabulate
tiktoken
beautifulsoup4
