name: pytests-ords

on: pull_request

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.11]

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        fetch-depth: 1
    - name: Set up Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        channels: conda-forge,defaults
        python-version: ${{ matrix.python-version }}
        miniconda-version: "latest"
    - name: Install Poppler Reqs
      run:   |
         if [ "$RUNNER_OS" == "Linux" ]; then
              sudo apt-get update
              sudo apt-get install libpoppler-cpp-dev
         elif [ "$RUNNER_OS" == "macOS" ]; then
              brew install poppler
         fi
      shell: bash
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda install -c conda-forge poppler
        python -m pip install --upgrade pip
        python -m pip install pdftotext
        python -m pip install pytest
        python -m pip install pytest-mock
        python -m pip install pytest-cov
        python -m pip install psycopg2-binary
        python -m pip install boto3
        python -m pip install .
        playwright install
    - name: Run pytest and Generate coverage report
      shell: bash -l {0}
      run: |
        python -m pytest -v --disable-warnings --cov=./ --cov-report=xml:coverage.xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      if: matrix.os == 'ubuntu-latest'
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: false
        verbose: true
